audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}
/* audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
} */
audio::-webkit-media-controls-enclosure {
  background-color: #ff914d;
}

a:hover{
  color: #ff914d;
  
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #151515;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  box-sizing: border-box;
  border-radius: 20px;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

a {
  color: white;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  max-height: 5000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3.5s;
}

@keyframes fade {
  from {
    opacity: 4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

/**
 * filter bar style
 */

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  padding: 20px 30px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.filter-bar select {
  color: white;
  font-size: var(--fs-sm);
  margin-right: 15px;
  cursor: pointer;
}

.filter-bar option {
  background: #333333;
}

.filter-radios {
  position: relative;
  background: #151515;
  padding: 10px;
  border-radius: 15px;
}

.filter-radios input {
  display: none;
}

.filter-radios label {
  position: relative;
  margin: 0 10px;
  font-size: var(--fs-sm);
  user-select: none;
  cursor: pointer;
  z-index: 10;
}

.filter-radios input:checked+label,
.filter-radios label:hover {
  color: #333333;
}

input~.checked-radio-bg {
  /**
   * variable for changing position and size
   * besed on radio checked 
   */
  --width: 85px;
  --left: 5px;

  background: var(--oxford-blue);
  position: absolute;
  top: 5px;
  left: var(--left);
  bottom: 5px;
  width: var(--width);
  border-radius: 10px;
}

#popular:checked~.checked-radio-bg {
  --width: 73px;
  --left: 90px;
}

#newest:checked~.checked-radio-bg {
  --width: 81px;
  --left: 163px;
}

/*----------------------------------------------------------------------------------------------------*/

.navbar {
  background-color: #3333;
  display: contents;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #ff914d;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}



.dropdown {
  float: left;

}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #ff914d;
  padding: 20px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color:white;
  background-color: #151515;
}

#tag:hover {
  background-color: #333333;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #151515;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*----------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------*/



.container {
  background-color: #151515;
  color: white;
  padding: 0px;
}


.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}



.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: #333;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button {
  padding: 10px;
  background-color: #151515;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}
/*Scroll Bar*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff914d;
  border-radius: 10px;
}


.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.footer-copyright p,
.wrapper a {
  font-size: var(--fs-sm);
}

.wrapper a:hover {
  color: var(--light-azure);
}

.wrapper {
  display: flex;
}

.wrapper a:not(:last-child) {
  margin-right: 30px;
}


.category {
  margin-bottom: 60px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.category-card {
  position: relative;
  height: 150px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.category-card::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, transparent 20%, rgba(0, 0, 0, 0.667));
}

.category-card:hover .card-img {
  transform: scale(1.1);
}

.category-card .name,
.category-card .total {
  position: absolute;
  bottom: 20px;
  color: var(--white);
  z-index: 20;
}

.category-card .name {
  left: 20px;
  font-size: 20px;
}

.category-card .total {
  right: 20px;
  font-size: 18px;
  background: var(--oxford-blue-50);
  padding: 5px 8px;
  border-radius: 8px;
}

.category-card:hover .name {
  color: var(--light-azure);
}


/*-------------------------------------*\
  #FOOTER SECTION
\*-------------------------------------*/

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul >li{
  padding: 4px;
}

ul > li:hover{
  color:#ff914d;
  cursor: pointer;
}

hr{
  border-width: 3px;
}

.social > i{
  padding: 1%;
  font-size: 15px;
}

.social > i:hover{
  color: #ff914d;
  cursor:pointer;
}

.policy > div{
  padding: 4px;
}

.heading{
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

.divider{
  border-top: 2px solid rgba(189, 196, 203, 0.5);;
}





.container {
  max-width: 1440px;
  margin: auto;
}

.movies {
  margin-bottom: 60px;
}

/**
 * filter bar style
 */

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--oxford-blue);
  padding: 20px 30px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.filter-bar select {
  color: var(--white);
  font-size: var(--fs-sm);
  margin-right: 15px;
  cursor: pointer;
}

.filter-bar option {
  background: var(--oxford-blue);
}

.filter-radios {
  position: relative;
  background: var(--rich-black-fogra-29);
  padding: 10px;
  border-radius: 15px;
}

.filter-radios input {
  display: none;
}

.filter-radios label {
  position: relative;
  margin: 0 10px;
  font-size: var(--fs-sm);
  user-select: none;
  cursor: pointer;
  z-index: 10;
}

.filter-radios input:checked+label,
.filter-radios label:hover {
  color: var(--light-azure);
}

input~.checked-radio-bg {
  /**
   * variable for changing position and size
   * besed on radio checked 
   */
  --width: 85px;
  --left: 5px;

  background: var(--oxford-blue);
  position: absolute;
  top: 5px;
  left: var(--left);
  bottom: 5px;
  width: var(--width);
  border-radius: 10px;
}

#popular:checked~.checked-radio-bg {
  --width: 73px;
  --left: 90px;
}

#newest:checked~.checked-radio-bg {
  --width: 81px;
  --left: 163px;
}


/**
 * movies grid 
 */

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 30px;
  margin-bottom: 60px;
}

.movie-card {
  /**
   * variable for scaling overlay element on card hover 
   */
  --scale: 0.8;

  cursor: pointer;
}

.movie-card .card-head {
  position: relative;
  height: 250px;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}

.movie-card:hover .card-img {
  transform: scale(1.1);
}

.movie-card .card-overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  backdrop-filter: blur(5px);
}

.movie-card:hover .card-overlay {
  opacity: 1;
}

.movie-card .bookmark,
.movie-card .rating {
  position: absolute;
  top: 15px;
  padding: 6px;
  border-radius: 10px;
  color: var(--light-azure);
  transform: scale(var(--scale));
}

.movie-card .bookmark {
  background: var(--oxford-blue);
  left: 15px;
}

.movie-card .bookmark:hover {
  color: var(--yellow);
}

.movie-card .rating {
  display: flex;
  align-items: center;
  right: 15px;
  background: var(--oxford-blue-50);
}

.movie-card .rating span {
  color: var(--white);
  font-size: 13px;
  font-weight: var(--fw-5);
  margin-left: 5px;
}

span{
  color:gray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.movie-card ion-icon {
  font-size: 16px;
  display: block;
  --ionicon-stroke-width: 50px;
}

.movie-card .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
}

.movie-card .play ion-icon {
  font-size: 60px;
  --ionicon-stroke-width: 20px;
}

.movie-card:hover :is(.bookmark, .rating, .play) {
  --scale: 1;
}

.movie-card .card-title {
  font-size: var(--fs-md);
  font-weight: var(--fw-5);
  margin-bottom: 5px;
}

.movie-card:hover .card-title {
  color: var(--light-azure);
}

.movie-card .card-info {
  display: flex;
  font-size: var(--fs-x-sm);
  font-weight: var(--fw-5);
}

.movie-card .genre {
  margin-right: 8px;
}


/**
 * load more button 
 */

.load-more {
  background: var(--oxford-blue);
  display: block;
  padding: 20px 50px;
  margin: auto;
  font-size: var(--fs-sm);
  font-weight: var(--fw-5);
  border-radius: 15px;
  color: var(--white);
}

.load-more:hover {
  background: var(--light-azure);
}